@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:ital,wght@0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-app-color: #0c2e58;
  --secondary-app-color: #95d6d6;
  --standout-color: #ffcb00;
  --primary-red: #ff6150;
  --secondary-orange: #f8aa4b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* -------------------------------------------original navbar keep because you might go back-------------------------------------------------------- */
/* #training {
  font-family: 'Dancing Script';
  color: white;
}

#training:hover {
  color: var(--secondary-app-color);
}

#lastName {
  font-size: 3rem;
  padding: 10px 0;
}

#lastName:hover {
  color: var(--primary-red);
}
.container-fluid {
  background-color: var(--primary-app-color);
  padding: 0 30px;
}

.navbar {
  padding-bottom: 0;
}

.navbar-brand {
  margin-left: 10px;
  font-size: 20rem;
  color: var(--secondary-app-color);
}

ul.navbar-nav {
  margin-right: 50px;
}
.collapse {
}

.nav-link {
  color: var(--secondary-app-color);
  font-size: 1.1rem;
  margin: 0 12px;
}

.nav-link:hover {
  color: #bac9c9;
  font-size: 1.35rem;
  /* border-top: 1px solid #b7cece; 
}

.navbar-brand:hover {
  color: var(--primary-red);
  cursor: pointer;
}

  */

/* -------------------------------------------------------------new navbar section ------------------------------------------------------------------- */
#training {
  font-family: 'Dancing Script';
  color: white;
}

#training:hover {
  color: var(--secondary-app-color);
}

.last-name {
  font-size: 3rem;
  padding: 10px 0;
}

.last-name:hover {
  color: var(--primary-red);
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    153deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 46, 88, 1) 40%,
    rgba(149, 214, 214, 1) 100%
  );
  height: 80px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;

  display: flex;
  align-items: center;
}

#brand a {
  color: var(--secondary-app-color);
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul a:hover {
  color: var(--secondary-app-color);
}

ul li {
  padding: 5px 20px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: -120px;
  height: calc(100vh - 50px);
  width: 100%;
  margin-top: 10px;
}

.mobile-menu li {
  margin-bottom: 2px;
}

/* ------------------------hero section------------------------------------- */
.hero-container {
  background-image: url('images/liam-dark.jpg');
  background-color: #0c2e58;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.head-text {
  padding-top: 200px;
  padding-left: 125px;
  font-weight: 900;
}

.header-box {
  color: #b7cece;
}

.hero-header {
  font-size: 7.2rem;
  line-height: 0.95;
  margin-top: 200px;
}

.hero-subhead {
  font-size: 3rem;
  color: white;
  margin-top: 56px;
}

.fitness {
  color: var(--secondary-app-color);
}

.nutrition {
  color: white;
}

.improve {
  padding: 0 8px;
  font-family: 'Dancing Script';
  color: var(--standout-color);
}

.not-be {
  font-size: 2.5rem;
  /* justify-self: end; */
  /* margin-top: 11px; */
  color: white;
  letter-spacing: 1.5px;
  padding-right: 11rem;
  padding-bottom: 22px;

  /* right: 500px; */
}

.strong-be {
  font-size: 2.6rem;
  font-style: italic;
  color: var(--primary-red);
  padding: 0 6px;
}

a {
  text-decoration: none;
  color: white;
}

.btn1 a:hover {
  color: var(--primary-app-color);
}

.btn1 {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  background-color: var(--primary-red);
  outline: none;

  margin: 20px auto;
  align-items: center;
  border: none;
  box-shadow: 0.5px 4px 1px 1px #ffffff3d;
}

.btn1:hover {
  cursor: pointer;
  background-color: #f84531;
  color: var(--primary-app-color);
  box-shadow: 0.5px 4px 1px 1px #ffffff69;
}

.row .head-text {
  --bs-gutter-x: 0;
}

/* --------------------------------------------media query  nav and hero ------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  .head-text {
    padding-top: 60px;
    padding-left: 20px;
    font-family: 'Roboto';
    font-weight: 700;
  }

  .hero-container {
    width: 100vw;
    background-position: center;
  }

  .hero-subhead {
    font-size: 1.8rem;
    padding: 40px 0;
  }

  #hamburger-icon {
    display: block;
  }

  .last-name {
    font-size: 1.7rem;
    padding: 3px 0;
  }

  .hero-header {
    font-size: 3rem;
    line-height: 0.95;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 750px) and (min-width: 601px) {
  .head-text {
    padding-top: 80px;
    padding-left: 20px;
    font-family: 'Poppins';
  }

  .fitness {
    line-height: 1.6;

    font-weight: 700;
  }
  .nutrition {
    font-weight: 700;
  }

  .hero-container {
    background-position: center;
  }

  .hero-subhead {
    font-size: 1.9rem;
    padding: 60px 0;
  }

  .hero-header {
    font-size: 3.3rem;

    margin-top: 5px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 751px) {
  .last-name {
    font-size: 1.5rem;
  }

  .head-text {
    padding-top: 146px;
    padding-left: 20px;
    font-family: 'Poppins';
  }

  .fitness {
    line-height: 1.6;

    font-weight: 700;
  }

  ul li {
    padding: 2px 8px;
  }

  .nutrition {
    font-weight: 700;
  }

  .hero-container {
    background-position: center;
  }

  .hero-subhead {
    font-size: 1.9rem;
    padding: 124px 0;
  }

  .hero-header {
    font-size: 3.3rem;

    margin-top: 5px;
  }
}
/* --------------------------------about section experiment---------------- */

.icon {
  color: var(--primary-red);
  height: 44px;
}
.intro-info {
  margin: 250px auto 84px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.card-heading,
/* .card-subheading, */
.card-text {
  color: #f73823;
}

.card-subheading {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-app-color);
}

.card-text {
  font-size: 1.1rem;
  padding-bottom: 22px;
}

.card-heading {
  margin-bottom: 38px;
}

.card-subheading {
  margin-bottom: 28px;
}

/* about section */

.row {
  justify-content: space-between;
}

.about {
  width: 90%;
  margin: 0 auto;
}

.about-columns {
  height: 800px;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary-orange);
  /* margin: 8px; */
}

.about-paragraph-heading {
  justify-content: center;
  align-items: center;
}

.about-body-text {
  color: var(--primary-app-color);
}

h3 {
  margin-bottom: 48px;
}

@media only screen and (max-width: 800px) {
  .about-card {
    margin-top: 84px;
  }

  .card-heading {
    padding-bottom: 0;
    margin-bottom: 18px;
  }

  .card-subheading {
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 751px) {
  .row {
    justify-content: center;
  }

  .card-2 {
    margin-top: 64px;
  }

  .about-card {
    margin-top: 34px;
  }
}
/* ----------------------------section services---------------------------------- */
.services-header {
  color: var(--primary-app-color);
  font-family: 'Dancing Script';
  font-size: 3rem;
  letter-spacing: 3px;
}
.services {
  width: 70%;
  margin: 200px auto;
  /* background-color: var(--primary-app-color); */
}

.card-3,
.card-4 {
  margin-top: 64px;
}

.card-3,
.card-4,
.card-1,
.card-2 {
  box-shadow: 1px 9px 4px 0.1px #95d6d681;
}

.service-cards {
  margin-bottom: 28px;
  cursor: pointer;
}

.service-card-text {
  color: #0c2e58;
  margin-top: 15px;
}

@media only screen and (max-width: 800px) {
  .card-2 {
    margin-top: 64px;
  }
}

/* --------------------------------carousel-------------------------------------- */

.carousel {
  width: 70%;
  margin: 0 auto;
  padding: 126px 0;
}

.testimonials {
  /* background-color: var(--primary-app-color); */
}

/* {
  color: #f73823;
} */

/* -------------------------------contact----------------------------------------- */
.contact-header {
  color: var(--secondary-app-color);
  font-size: 36px;
  padding: 48px;
  font-weight: 700;
  letter-spacing: 1.8;
}

.contact-container {
  padding-bottom: 84px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    153deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 46, 88, 1) 40%,
    rgba(149, 214, 214, 1) 100%
  );
  margin-right: auto;
  margin-left: 0;
}

.placeholder-box {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.form-control::-webkit-input-placeholder {
  color: var(--primary-red);
}

.icons {
  margin-right: 16px;
  font-size: 24px;
}

.submit {
  width: 250px;
  border-radius: 25px;
  background-color: var(--secondary-app-color);
  color: var(--primary-app-color);
  box-shadow: 1.5px 3px 1px 1px #ffffff3d;
}

.submit:hover {
  background-color: #48eeee;
  color: #fff;
  cursor: pointer;
}

/* ------------------------testimonial test--------------------------------- */

.testimonial-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    153deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(12, 46, 88, 1) 40%,
    rgba(149, 214, 214, 1) 100%
  );
  color: #fff;
  border-radius: 15px;
  margin: 20px auto 400px;
  padding: 50px 80px;
  max-width: 768px;
  position: relative;
  height: 60vh;
}

.fa-quote {
  color: #48eeee59;
  font-size: 28px;
  position: absolute;
  top: 70px;
}

.fa-quote-right {
  left: 40px;
}

.fa-quote-left {
  right: 40px;
}

.testimonial {
  line-height: 28px;
  text-align: justify;
  height: 30vh;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 25px;
}

.user-image {
  width: 100px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
  margin-bottom: 18px;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 20px 30px;
    height: 70vh;
    border-radius: 0;
    margin: 10px auto 200px;
  }

  .user {
    display: none;
  }

  .fa-quote {
    display: none;
  }

  .progress-bar {
    margin-bottom: 15px;
  }
}

@media (max-width: 950px) {
  .testimonial-container {
    height: 35vh;
  }

  .progress-bar {
    margin-bottom: 34px;
  }
}
